<div class="row" ng-controler="JoggingController">
    <div ng-messages="jogRecords.$error">
        <div class="alert alert-danger" role="alert" ng-message="generalError">Data retrieval failed</div>
    </div>
    <div ng-messages="$removalError">
        <div class="alert alert-danger" role="alert" ng-message="removalError">Failed to delete record</div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Jogs</h3>
            </div>
            <div class="panel-body">
                <div class="dateDiv">
                    <label class="control-label" id="lbl-from">From</label>
                    <p class="input-group" aria-labelledby="lbl-from">
                        <input type="text" class="form-control"
                               datepicker-popup="yyyy/MM/dd"
                               ng-model="dateFilter.startDate"
                               is-open="isOpen('fromDatePicker')"
                               close-text="Close"/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, 'fromDatePicker')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                    </p>
                </div>
                <div class="dateDiv">
                    <label class="control-label" id="lbl-to">To</label>
                    <p class="input-group" aria-labelledby="lbl-to">
                        <input type="text" class="form-control"
                               datepicker-popup="yyyy/MM/dd"
                               ng-model="dateFilter.endDate"
                               is-open="isOpen('toDatePicker')"
                               close-text="Close"/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, 'toDatePicker')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                    </p>
                </div>
                <div>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="refreshRecords()"><span
                            class="glyphicon glyphicon-refresh"></span>Refresh</button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Distance</th>
                    <th>Duration</th>
                    <th>Speed</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="dateCell">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   datepicker-popup="yyyy/MM/dd"
                                   ng-model="record.date"
                                   is-open="isOpen('newDatePicker')"
                                   ng-required="true"
                                   close-text="Close"/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, 'newDatePicker')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                        </p>
                    </td>
                    <td>
                        <input type="text" placeholder="Distance (meters)" ng-model="record.distance"
                               ng-required="true"/>
                    </td>
                    <td>
                        <input type="text" placeholder="Duration (seconds)" ng-model="record.duration"
                               ng-required="true"/>
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary" ng-click="addRecord()"><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" ng-messages="record.$error">
                        <div ng-message="validationError">
                            <div class="alert alert-danger" role="alert"
                                 ng-repeat="validationError in record.$error.validationErrors">
                                {{validationError}}
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-message="genericError">Insertion
                            failed
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="jogRecord in jogRecords | filter:filterByDates">
                    <td>{{jogRecord.date}}</td>
                    <td>{{jogRecord.distance}} meters</td>
                    <td>{{jogRecord.duration}} seconds</td>
                    <td>{{jogRecord.speed}} km/h</td>
                    <td>
                        <button class="btn btn-danger btn-large" ng-click="removeRecord(jogRecord.id)"><span
                                class="glyphicon glyphicon-minus"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>