<div ng-controler="JoggingController">
    <div class="container">
        <ul class="nav navbar-nav navbar-right navbar-default">
            <button class="btn btn-primary" ng-click="logout()">Logout
            </button>
        </ul>
        <div class="page-header">
            <h1>Welcome, {{userName}}</h1>
        </div>
        <div ng-messages="jogRecords.$error">
            <div class="alert alert-danger" role="alert" ng-message="generalError">Data retrieval failed</div>
        </div>
        <div ng-messages="$removalError">
            <div class="alert alert-danger" role="alert" ng-message="removalError">Failed to delete record</div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Jogs</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-1">
                        <label class="control-label">From</label>
                    </div>
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   datepicker-popup="yyyy/MM/dd"
                                   ng-model="startDate"
                                   is-open="fromDate"
                                   close-text="Close"/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, 'fromDate')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                        </p>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">To</label>
                    </div>
                    <div class="col-md-3">
                        <p class="input-group">
                            <input type="text" class="form-control"
                                   datepicker-popup="yyyy/MM/dd"
                                   ng-model="endDate"
                                   is-open="toDate"
                                   close-text="Close"/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, 'toDate')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                        </p>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" ng-click="refresh()"><span
                                class="glyphicon glyphicon-refresh"></span></button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Distance</th>
                        <th>Duration</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="input-group">
                                        <input type="text" class="form-control"
                                               datepicker-popup="yyyy/MM/dd"
                                               ng-model="record.date"
                                               is-open="newRecordDate"
                                               ng-required="true"
                                               close-text="Close"/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open($event, 'newRecordDate')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="text" placeholder="Distance (meters)" ng-model="record.distance"
                                   ng-required="true"/>
                        </td>
                        <td>
                            <input type="text" placeholder="Duration (seconds)" ng-model="record.duration"
                                   ng-required="true"/>
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-click="addRecord()"><span
                                    class="glyphicon glyphicon-plus"></span></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div ng-messages="record.$error">
                                <div ng-message="validationError">
                                    <div class="alert alert-danger" role="alert"
                                         ng-repeat="validationError in record.$error.validationErrors">
                                        {{validationError}}
                                    </div>
                                </div>
                                <div class="alert alert-danger" role="alert" ng-message="genericError">Insertion
                                    failed
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="jogRecord in jogRecords | filter:filterByDates">
                        <td>{{jogRecord.date}}</td>
                        <td>{{jogRecord.distance}} meters</td>
                        <td>{{jogRecord.duration}} seconds</td>
                        <td>
                            <button class="btn btn-danger btn-large" ng-click="removeRecord(jogRecord.id)"><span
                                    class="glyphicon glyphicon-minus"></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>